---
layout: default
---

<main class="content" role="main">

  <header class="blog-header">
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
  </header>

  <amp-img width="600" height="300" layout="responsive" src="http://lorempixel.com/600/300/sports"></amp-img>

  <ul class="timeline">
    <li>
      <div class="timeline-badge">
        <a><i class="fa fa-circle" id=""></i></a>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>Senior Developer - Viettel Group</h4>
        </div>
        <div class="timeline-body">
          <p>• Being first point of call for new and current clients</p>
          <p>• Outlining and presenting specifications for all web based requirements</p>
          <p>• Hands on development of all projects from genesis to delivery</p>
          <p>• Mentoring team members in development and technical progression</p>
          <p>• Writing multiple code and script and ensuring cross browser compliance</p>
          <p>• Liaising with SEO developers to ensure all websites contained specific keyword</p>
          <p>• Trouble shooting and problem solving</p>
          <p>• Monitoring the overall progression of department and staff</p>
        </div>
        <div class="timeline-footer">
          <p class="text-right">July 2013 – present</p>
        </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-badge">
        <a><i class="fa fa-circle invert" id=""></i></a>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>Developer - Viettel Group</h4>
        </div>
        <div class="timeline-body">
          <p>• Maintaining performance of existing client websites</p>
          <p>• Suggesting improvements on design and functionality</p>
          <p>• Diagnosing and rectifying performance issues</p>
          <p>• Maintaining continuity throughout all websites both technically and creatively</p>
          <p>• Providing aftercare support for clients on assessing the performance of their sites</p>
        </div>
        <div class="timeline-footer">
          <p class="text-right">May 2010 – July 2013</p>
        </div>
      </div>
    </li>

    <li>
      <div class="timeline-badge">
        <a><i class="fa fa-circle invert" id=""></i></a>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>Web Developer – Bite4life, Australia (remote)</h4>
        </div>
        <div class="timeline-body">
          <p>• Development and maintenance of existing website</p>
          <p>• Translate business requirements into system design</p>
          <p>• Deploy website to company’s dedicate server</p>
        </div>
        <div class="timeline-footer">
          <p class="text-right">April 2009 – May 2010</p>
        </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-badge">
        <a><i class="fa fa-circle" id=""></i></a>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>Web Developer – Free lancer, Ha Noi</h4>
        </div>
        <div class="timeline-body">
          <p>• Create website, cms from scratch follow client’s order</p>
        </div>
        <div class="timeline-footer">
          <p class="text-right">October 2008 – April 2009</p>
        </div>
      </div>
    </li>

    <li>
      <div class="timeline-badge">
        <a><i class="fa fa-circle invert" id=""></i></a>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>Web Developer – Niemtin JSC, Ha Noi</h4>
        </div>
        <div class="timeline-body">
          <p>• Create website (for small client) from scratch</p>
          <p>• Deploy website to client’s shared host</p>
          <p>• Add functions for company’s core system (Document Management for School)</p>
        </div>
        <div class="timeline-footer primary">
          <p class="text-right">May 2007 – October 2008</p>
        </div>
      </div>
    </li>

    <li class="clearfix no-float"></li>
  </ul>

</main>

{% include footer.html %}
