---
layout: default
---

<main class="content" role="main">

  <header class="blog-header">
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
  </header>

  <amp-img width="600" height="300" layout="responsive" src="http://lorempixel.com/600/300/sports"></amp-img>

  <ul class="timeline">
    <li>
      <div class="timeline-badge">
        <a><i class="fa fa-circle" id=""></i></a>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>Viettel Group</h4>
        </div>
        <div class="timeline-body">
          <p>• Started as ASP.NET developer.</p>
          <p>• Switch to PHP Symfony, Java Spring developer since last 2011</p>
        </div>
        <div class="timeline-footer">
          <p class="text-right">May-2010</p>
        </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-badge">
        <a><i class="fa fa-circle invert" id=""></i></a>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>Freelancer</h4>
        </div>
        <div class="timeline-body">
          <p>Develop and manage Bite4life - a fitness system.</p>
        </div>
        <div class="timeline-footer">
          <p class="text-right">April-2009</p>
        </div>
      </div>
    </li>

    <li>
      <div class="timeline-badge">
        <a><i class="fa fa-circle" id=""></i></a>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>Niemtin JSC</h4>
        </div>
        <div class="timeline-body">
          <p>Fulltime job as ASP.NET developer</p>
        </div>
        <div class="timeline-footer">
          <p class="text-right">Aug-2008</p>
        </div>
      </div>
    </li>

    <li  class="timeline-inverted">
      <div class="timeline-badge">
        <a><i class="fa fa-circle invert" id=""></i></a>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>Graduated from Hanoi Noi National University</h4>
        </div>
        <div class="timeline-body">
          <p>• Faculty of Information Technology</p>
          <p>• Specialized information systems</p>
        </div>
        <div class="timeline-footer primary">
          <p class="text-right">Aug-2008</p>
        </div>
      </div>
    </li>

    <li>
      <div class="timeline-badge">
        <a><i class="fa fa-circle" id=""></i></a>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>Niemtin JSC</h4>
        </div>
        <div class="timeline-body">
          <p>Partime job as ASP.NET developer</p>
        </div>
        <div class="timeline-footer">
          <p class="text-right">May-2007</p>
        </div>
      </div>
    </li>

    <li class="clearfix no-float"></li>
  </ul>

</main>

{% include footer.html %}
